<div class="panel panel-default panelCategory">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each do |taxonomy| %>
          <li>
            <%= link_to "javascript:;", data: { toggle: "collapse", target: "#category-#{taxonomy.id}"} do %>
              <%= taxonomy.name %>
              <i class="fa fa-plus"></i>
            <% end %>
            <ul id="category-<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.root.leaves.each do |leaf| %>
                <li>
                  <%= link_to potepan_category_path(leaf.id) do %>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <%= leaf.name %>
                    <span>(<%= leaf.products.count %>)</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>