<div class="col-sm-4 col-xs-12">
  <%= link_to potepan_product_path(product.id) do %>
    <div class="productBox">
      <div class="productImage clearfix">
        <%= image_tag product.gallery.images.first.attachment(:product), :alt => "#{product.name}-image" if product.gallery.images.any? %>
      </div>
      <div class="productCaption clearfix">
        <h5><%= product.name %></h5>
        <h3><%= product.display_price %></h3>
      </div>
    </div>
  <% end %>
</div>