<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render 'light_top_section' %>
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render 'categories_filter', taxonomies: @taxonomies %>
          <%= render 'colors_filter' %>
          <%= render 'sizes_filter' %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12 productRow">
          <div class="row filterArea">
            <%= render 'products_filter' %>
          </div>
          <div class="row">
            <%= render partial: 'products_grid_view', collection: @products, as: :product %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'potepan/shared/light_bottom_section' %>
</div>