<div class="col-md-3 col-sm-6 col-xs-12">
  <%= link_to potepan_product_path(products_related.id) do %>
    <div class="productBox">
      <div class="productImage clearfix">
        <%= image_tag products_related.gallery.images.first.attachment(:product), :alt => "#{products_related.name}-image" if products_related.gallery.images.any? %>
      </div>
      <div class="productCaption clearfix">
        <h5><%= products_related.name %></h5>
        <h3><%= products_related.display_price %></h3>
      </div>
    </div>
  <% end %>
</div>