<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <%= render 'light_top_section' %>
  <section class="mainContent clearfix">
    <div class="container">
      <%= render 'products_detail', product: @product %>
      <div class="row productsContent">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>関連商品</h4>
          </div>
        </div>
        <%= render partial: 'products_related', collection: @related_products %>
      </div>
    </div>
  </section>
</div>